html{
    box-sizing: border-box;
}

body{
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

img{
    width: 200px;
    height: 200px;
}

.section{
    padding: 0 150px;
}

.section.one{
    display:flex;
    flex-direction: column;
    background-color: #1F2937;
}

.header.top{
    display: flex;
    padding-top: 10px;
}

.header.top div{
    margin-right:auto;
}

ul{
    display: flex;
    list-style-type: none;
    gap: 15px;
    margin: 0;
    padding: 0;
}

.header.bottom{
    display: flex;
    padding: 60px 0
}

h1{
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
    margin: 0
}

h2{
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
}

h3{
    margin: 0;
}

.header,bottom p{
    font-size: 18px;
    color: #e5e7eb;
}

.header.bottom .left{
    flex: 1;
}

.header.bottom .image{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center
}

.section.two{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.container{
    display: flex;
    text-align: center;
    padding-bottom: 60px;
    gap: 20px
}

.container .card img{
    border-radius: 10px;
}


.section.three{
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
}

.quote{
    margin: 0;
    padding-top: 60px;
    font-size: 36px;
    font-style: light italic;
    color: #1F2937;
}

.author{
    align-self: flex-end;
    margin: 0;
    padding-bottom: 60px;
    font-weight: bold;
}

.section.four{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px
}

.call{
    background-color: #3882f6;
    display: flex;
    flex: 1;
    padding: 10px;
    color: #f9faf8;
    border-radius: 5px;
}

.call.left{
    display: flex;
    flex-direction: column;
    margin: 0;
    flex: 2;
    padding-left: 40px
}

.button{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    background-color: #3882f6;
    border-radius: 5px;
    color: #f9faf8;
    padding: 8px;
}

.call button{
    border: 1px solid #f9faf8;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    padding: 25px;
    color: #e5e7eb;
    
}